In [2]:
import numpy as np
import re
import pandas as pd
from IPython.display import display
import scipy.stats as stats
#wodDF=pd.read_csv('C:/Users/John/Documents/projects/WODData/waterTemp1998.csv', error_bad_lines=False, header=70)

# read file in
readFile=open('data/waterTemp2008.csv', 'r')

#variables to use with regex to slice file
delimiter='#--------------------------------------------------------------------------------,'
variableStart = 'VARIABLES'

# lists to store integers on which to slice file, counter for loop
sliceDelimiter=[]
sliceVariables=[]
counter=0

# loops through lines in file, finding locations where to slice and adding to lists
for line in readFile:
    line=line.strip()
    if line == delimiter: sliceDelimiter.append(counter)
    if line[:len(variableStart)] == variableStart: sliceVariables.append(counter)
    counter+=1
    
# remove first nonsensical slice value and adds file length to end of list
sliceDelimiter.pop(0)
sliceDelimiter.append(counter)

# printing for test purposes
print(sliceDelimiter[:5])
print(sliceVariables[:5])

[61, 187, 299, 411, 523]
[23, 83, 211, 321, 435]

In [3]:
#adds a 0 to front of sliceDelimiter for reaching first lat/long values
# print(sliceDelimiter)
# sliceDelimiter.insert(0,0)
# print(sliceDelimiter)
#creates list with sliceDelimiter with 0 at beginning to tell loop where to search for 
iterateSlice = [0, *sliceDelimiter]
print(iterateSlice)

[0, 61, 187, 299, 411, 523, 631, 703, 764, 865, 958, 1034, 1085, 1159, 1269, 1292, 1339, 1404, 1511, 1539, 1610, 1719, 1815, 1882, 1925, 1990, 2026, 2091, 2157, 2224, 2297, 2335, 2404, 2424, 2444, 2505, 2612, 2646, 2716, 2755, 2801, 2903, 2973, 3022, 3093, 3161, 3267, 3316, 3382, 3486, 3547, 3652, 3712, 3791, 3841, 3875, 3968, 4073, 4137, 4176, 4286, 4385, 4439, 4549, 4588, 4690, 4808, 4917, 4967, 5073, 5183, 5232, 5269, 5380, 5421, 5533, 5579, 5620, 5733, 5855, 5970, 6004, 6124, 6158, 6192, 6226, 6260, 6295, 6328, 6445, 6477, 6509, 6542, 6583, 6611, 6643, 6676, 6709, 6742, 6766, 6785, 6813, 6929, 6956, 7075, 7105, 7133, 7174, 7200, 7242, 7279, 7399, 7515, 7570, 7592, 7614, 7660, 7706, 7728, 7847, 7869, 7891, 7913, 7935, 7957, 7997, 8019, 8041, 8063, 8085, 8201]

In [4]:
# open csv
file = open('waterTemp1998.csv', 'r')



for item in iterateSlice:
    # read lines up to lines I need to search: need to put sliceDelimiter here
    for i in range(item):
        file.readline()


    # read lines, need to use sliceVariables for loop
        for i in range(5):
            thisLine = file.readline()
            if thisLine[:8] == 'Latitude':
                latLine = thisLine
                longLine = file.readline()

                # split line on commas
                latLine = latLine.split(',')
                longLine = longLine.split(',')

                #select item from list with numerical lat/long value, strip whitespace
                latLine = latLine[2]
                longLine = longLine[2]
                latLine = float(latLine.strip())
                longLine = float(longLine.strip())


                print(latLine)
                print(longLine)
                print(latLine - longLine)
                break
             # added to allow for a larger range in i in range(x) without hurting performance, doesn't seem to work?
             # why does this hurt performance so much?
            else:
                continue
            break
file.close

-59.8263
-55.3498
-4.4765000000000015
-73.6292
172.425
-246.0542
-59.6622
-55.4432
-4.219000000000001
-73.8998
173.651
-247.5508
-59.4997
-55.5648
-3.934899999999999
-74.4
176.4358
-250.8358
-58.9997
-55.8723
-3.1273999999999944
-59.4647
6.0378
-65.5025
-74.9012
175.5042
-250.4054
-75.3898
174.7643
-250.15409999999997
-75.8703
173.8617
-249.73200000000003
-76.341
172.9332
-249.2742
-58.8417
-55.9588
-2.8829000000000065
-58.6828
-56.0698
-2.6129999999999995
-76.9757
172.0
-248.97570000000002
-59.6163
5.9717
-65.58800000000001
-59.8604
5.9928
-65.8532
-60.0025
6.0161
-66.01859999999999
-58.5252
-56.1683
-2.356899999999996
-77.2005
173.9333
-251.1338
-58.3688
-56.2777
-2.0910999999999973
-77.4997
179.5015
-257.0012
-58.2072
-56.3643
-1.8429000000000002
-58.0497
-56.4617
-1.588000000000001
-77.6995
-177.6905
99.99099999999999
-60.1258
5.9974
-66.1232
-60.2686
5.9999
-66.2685
-60.3858
6.0271
-66.41290000000001
-60.5
6.0
-66.5
-57.882
-56.5482
-1.3337999999999965
-57.7272
-56.6417
-1.0855000000000032
-76.8997
-179.2295
102.3298
-57.5832
-56.7378
-0.8453999999999979
-76.5208
179.9977
-256.5185
-57.4267
-56.8172
-0.609499999999997
-76.5
178.4192
-254.9192
-76.4988
176.8382
-253.337
32.5083
131.75
-99.24170000000001
32.5083
131.8433
-99.33500000000001
32.5083
131.9467
-99.4384
-57.0787
-57.0553
-0.023399999999995202
32.5083
132.0433
-99.535
32.5083
132.1417
-99.6334
32.28
132.0733
-99.79329999999999
32.28
131.9733
-99.6933
-56.9285
-57.154
0.2255000000000038
32.28
131.7833
-99.5033
-56.7818
-57.2417
0.45990000000000464
-76.5025
173.6923
-250.1948
55.5083
10.8633
44.644999999999996
53.8958
8.6987
45.1971
55.4792
10.5192
44.96
53.882
9.197
44.685
-76.2475
170.9995
-247.247
-56.458
-57.4312
0.9731999999999985
-76.0
169.5075
-245.5075
-56.2887
-57.528
1.2393
32.05
131.7033
-99.65330000000002
32.05
131.8033
-99.75330000000001
58.02
6.53
51.49
-60.4033
6.0558
-66.4591
-56.1222
-57.6407
1.518500000000003
34.7233
134.7933
-100.07
34.5883
134.2433
-99.655
32.05
131.9
-99.85000000000001
-75.669
171.2475
-246.91649999999998
34.68
134.7617
-100.08169999999998
34.6683
134.325
-99.65669999999999
32.05
132.0
-99.95
34.7133
134.6667
-99.95339999999999
34.7483
134.6833
-99.935
34.64
134.23
-99.58999999999999
34.7533
134.575
-99.82169999999999
34.7033
134.5617
-99.8584
31.7833
131.92
-100.13669999999999
31.7833
131.82
-100.0367
-55.9628
-57.7238
1.7609999999999957
34.6917
134.4567
-99.76500000000001
34.575
134.15
-99.575
31.7833
131.7233
-99.94
34.6
134.6
-100.0
34.5167
134.0517
-99.53500000000001
31.7833
131.625
-99.8417
31.7833
131.525
-99.74170000000001
-75.2508
170.498
-245.7488
34.6067
134.7233
-100.1166
56.6208
9.0758
47.545
54.3977
10.1955
44.202200000000005
-55.7987
-57.8457
2.047000000000004
56.1547
10.3187
45.836
54.4592
10.245
44.214200000000005
55.6743
10.0903
45.584
-55.6548
-57.92
2.2652
55.86
9.907
45.953
-75.5015
168.0357
-243.53719999999998
-75.2928
167.01
-242.3028
-55.3642
-58.1183
2.754100000000001
31.5633
131.4583
-99.89500000000001
31.5633
131.555
-99.99170000000001
33.635
131.1333
-97.4983
31.5633
131.6533
-100.09
34.665
134.9
-100.23500000000001
34.6133
134.8367
-100.2234
34.5
134.125
-99.625
34.4083
133.9917
-99.58340000000001
34.05
131.74
-97.69000000000001
34.0383
131.7033
-97.66500000000002
33.7833
131.135
-97.3517
33.8233
131.2133
-97.39
33.87
131.1233
-97.2533
31.5633
131.75
-100.1867
31.5633
131.8517
-100.2884
-75.01
166.5485
-241.55849999999998
34.565
134.8967
-100.33170000000001
34.4167
133.8667
-99.45000000000002
34.3583
133.8083
-99.45
34.4633
130.9333
-96.47
33.84
131.5217
-97.6817
33.8533
131.725
-97.8717
33.87
131.1233
-97.2533
33.84
131.065
-97.225
33.9033
131.0317
-97.1284
35.4561
139.7967
-104.3406
34.4717
134.7817
-100.31
34.3167
133.5667
-99.25
34.5283
130.825
-96.29669999999999
33.8617
131.8983
-98.0366
33.8383
131.03
-97.1917
33.78
131.0383
-97.25829999999999
31.3583
131.7883
-100.42999999999999
31.3583
131.6917
-100.3334
35.3472
139.6969
-104.3497
35.2883
139.7175
-104.42920000000001
34.635
130.675
-96.04000000000002
33.945
131.89
-97.945
33.99
131.8467
-97.85669999999999
33.9617
131.755
-97.79329999999999
33.9917
131.7717
-97.78
33.7167
131.0733
-97.35659999999999
35.2408
139.7533
-104.51249999999999
35.2125
139.7464
-104.53389999999999
34.3383
134.6133
-100.275
34.4183
133.5233
-99.105
34.4033
133.4517
-99.04839999999999
34.74
130.5217
-95.7817
34.0167
131.805
-97.7883
31.3583
131.5
-100.1417
31.3583
131.4
-100.0417
35.1539
139.7047
-104.55080000000001
34.7333
138.3017
-103.56840000000001
34.5133
134.5383
-100.02499999999999
34.4717
133.665
-99.1933
34.4717
133.7067
-99.23500000000001
34.4033
133.7633
-99.35999999999999
34.845
130.3667
-95.52170000000001
-75.0407
165.2797
-240.3204
35.1183
139.61
-104.49170000000001
34.545
134.6667
-100.12169999999999
34.95
130.215
-95.265
34.7333
138.4333
-103.7
35.0633
130.055
-94.99170000000001
55.513
12.8808
42.6322
-55.121
-58.2722
3.151199999999996
34.8467
138.5317
-103.685
54.84
9.495
45.345000000000006
35.0333
138.5667
-103.5334
54.835
9.8267
45.0083
55.687
13.0367
42.6503
59.852
24.833
35.019
-74.9992
164.01
-239.0092
-55.068
-58.3052
3.2372000000000014
55.785
12.9067
42.878299999999996
34.7333
138.7
-103.96669999999999
35.3317
129.9983
-94.6666
-75.1208
164.5268
-239.6476
34.7333
138.6167
-103.88340000000001
54.1133
14.117
39.996300000000005
-54.9617
-58.3748
3.4131
34.5833
138.4983
-103.91499999999999
35.3333
130.5017
-95.16839999999999
54.0067
14.233
39.773700000000005
59.85
24.835
35.015
-9.0734
-78.6094
69.536
-9.0786
-78.6177
69.5391
56.0778
8.2243
47.853500000000004
-54.9417
-58.3795
3.437800000000003
54.38
18.97
35.410000000000004
59.85
24.833
35.017
-9.0892
-78.5916
69.5024
-9.1008
-78.58
69.47919999999999
-54.9208
-58.3957
3.474899999999998
34.58
138.0833
-103.50330000000001
35.3333
131.2417
-95.9084
54.2033
13.905
40.2983
-9.113
-78.61
69.497
34.6083
137.75
-103.1417
35.0033
131.245
-96.24170000000001
34.4167
137.7467
-103.33000000000001
-54.7832
-58.4802
3.6970000000000027
34.6683
131.25
-96.5817
54.5
19.12
35.379999999999995
-54.6478
-58.5662
3.9184000000000054
32.075
141.4317
-109.3567
34.4983
131.245
-96.7467
34.4283
138.2483
-103.82
34.2633
138.245
-103.9817
31.375
131.225
-99.85
31.4167
131.15
-99.73330000000001
-18.383
-70.367
51.98400000000001
-18.383
-70.422
52.039
-18.383
-70.523
52.14
-18.383
-70.697
52.31400000000001
-18.387
-71.06
52.673
-60.0152
6.0041
-66.0193
-60.0152
6.0041
-66.0193

In [8]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sat Feb 20 16:38:45 2021

@author: pchavan
"""


import re
import pandas as pd
import os


#snippet to split files and dump in a folder labeled data/
def files():
    n = 0
    while True:
        n += 1
        yield open('data/%d.csv' % n, 'w')


pat = '#--------------------------------------------------------------------------------'

fs = files()
outfile = next(fs) 
filenam='data/waterTemp2008.csv'
with open(filenam) as infile:
    for line in infile:
        if pat not in line:
            outfile.write(line)
        else:
            items = line.split(pat)
            outfile.write(items[0])
            for item in items[1:]:
                outfile = next(fs)
                outfile.write(pat + item)
                
outfile.close()
#snippet to further take every file in the data/ folder and then only read lines latitude, longitude and the table as that contains temperature       
START_PATTERN = 'UNITS'
END_PATTERN = 'END OF VARIABLES SECTION'
lat='Latitude'
long='Longitude'
for filename in os.listdir('data/'):
    if filename != ".DS_Store":
        with open('data/'+filename, mode="r", encoding="utf-8") as file:
            print(filename)
            match = False
            newfile = None

            for line in file:
                if re.match(lat, line):
                    match = True
                    newfile = open('tabular_data/'+filename, 'w')
                    newfile.write(line)
                    
                
                elif re.match(long, line):
                    match = False
                    newfile.write(line)
                
                elif re.match(START_PATTERN, line):
                    match = True
                    continue
                
                elif re.match(END_PATTERN, line):
                    match = False
                    newfile.close()
                    continue
                elif match:
                    newfile.write(line)
                    newfile.write('\n')

1.csv
10.csv
100.csv
101.csv
102.csv
103.csv
104.csv
105.csv
106.csv
107.csv
108.csv
109.csv
11.csv
110.csv
111.csv
112.csv
113.csv
114.csv
115.csv
116.csv
117.csv
118.csv
119.csv
12.csv
120.csv
121.csv
122.csv
123.csv
124.csv
125.csv
126.csv
127.csv
128.csv
129.csv
13.csv
130.csv
131.csv
14.csv
15.csv
16.csv
17.csv
18.csv
19.csv
2.csv
20.csv
21.csv
22.csv
23.csv
24.csv
25.csv
26.csv
27.csv
28.csv
29.csv
3.csv
30.csv
31.csv
32.csv
33.csv
34.csv
35.csv
36.csv
37.csv
38.csv
39.csv
4.csv
40.csv
41.csv
42.csv
43.csv
44.csv
45.csv
46.csv
47.csv
48.csv
49.csv
5.csv
50.csv
51.csv
52.csv
53.csv
54.csv
55.csv
56.csv
57.csv
58.csv
59.csv
6.csv
60.csv
61.csv
62.csv
63.csv
64.csv
65.csv
66.csv
67.csv
68.csv
69.csv
7.csv
70.csv
71.csv
72.csv
73.csv
74.csv
75.csv
76.csv
77.csv
78.csv
79.csv
8.csv
80.csv
81.csv
82.csv
83.csv
84.csv
85.csv
86.csv
87.csv
88.csv
89.csv
9.csv
90.csv
91.csv
92.csv
93.csv
94.csv
95.csv
96.csv
97.csv
98.csv
99.csv
waterTemp1998.csv
waterTemp2008.csv

In [7]:
# creates df for each table of information
# wodDF= pd.read_csv('waterTemp1998.csv', skiprows = sliceVariables[2]+1, nrows = sliceDelimiter[2]-(sliceVariables[2]+2))

# zips values to unpack for loop to pull out tables. Currently displaying to make sure right data sections are cut
for sliceD, sliceV in zip(sliceDelimiter, sliceVariables):
    wodDF = pd.read_csv('waterTemp2008.csv', skiprows = sliceV+1, nrows=sliceD-(sliceV+2), error_bad_lines=False)
    print(str(sliceD)+'  '+str(sliceV)+'\n')
    wodDF = wodDF.iloc[1:-1]
    #wodDf = wodDF[['m', 'degrees C ']]
    display(wodDF)
    print(list(wodDF))

61  23

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,-1.3600,0.0,0,33.9910,0.0,0,357.6,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,-1.3610,0.0,0,33.9912,0.0,0,355.1,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,-1.3610,0.0,0,33.9920,0.0,0,352.5,0.0,0,NaN,NaN,NaN,NaN,NaN
6,6,25.00,0.0,0,-1.4628,0.0,0,34.0284,0.0,0,350.2,0.0,0,NaN,NaN,NaN,NaN,NaN
7,7,30.00,0.0,0,-1.4183,0.0,0,33.9959,0.0,0,347.9,0.0,0,NaN,NaN,NaN,NaN,NaN
8,8,35.00,0.0,0,-1.5541,0.0,0,34.1048,0.0,0,345.9,0.0,0,NaN,NaN,NaN,NaN,NaN
9,9,40.00,0.0,0,-1.7780,0.0,0,34.1430,0.0,0,343.9,0.0,0,NaN,NaN,NaN,NaN,NaN
10,10,45.00,0.0,0,-1.7920,0.0,0,34.1560,0.0,0,342.1,0.0,0,NaN,NaN,NaN,NaN,NaN
11,11,50.00,0.0,0,-1.8001,0.0,0,34.1671,0.0,0,340.5,0.0,0,NaN,NaN,NaN,NaN,NaN
12,12,55.00,0.0,0,-1.7893,0.0,0,34.1748,0.0,0,339.0,0.0,0,NaN,NaN,NaN,NaN,NaN
13,13,60.00,0.0,0,-1.8160,0.0,0,34.1820,0.0,0,337.7,0.0,0,NaN,NaN,NaN,NaN,NaN
14,14,65.00,0.0,0,-1.8178,0.0,0,34.1920,0.0,0,336.7,0.0,0,NaN,NaN,NaN,NaN,NaN
15,15,70.00,0.0,0,-1.8186,0.0,0,34.2070,0.0,0,336.1,0.0,0,NaN,NaN,NaN,NaN,NaN
16,16,75.00,0.0,0,-1.8193,0.0,0,34.2054,0.0,0,335.3,0.0,0,NaN,NaN,NaN,NaN,NaN
17,17,80.00,0.0,0,-1.8205,0.0,0,34.2416,0.0,0,334.3,0.0,0,NaN,NaN,NaN,NaN,NaN
18,18,85.00,0.0,0,-1.8157,0.0,0,34.2332,0.0,0,333.2,0.0,0,NaN,NaN,NaN,NaN,NaN
19,19,90.00,0.0,0,-1.8108,0.0,0,34.2434,0.0,0,332.2,0.0,0,NaN,NaN,NaN,NaN,NaN
20,20,95.00,0.0,0,-1.8114,0.0,0,34.2536,0.0,0,331.3,0.0,0,NaN,NaN,NaN,NaN,NaN
21,21,100.00,0.0,0,-1.8058,0.0,0,34.2559,0.0,0,328.9,0.0,0,NaN,NaN,NaN,NaN,NaN
22,22,125.00,0.0,0,-1.3440,0.0,0,34.3686,0.0,0,299.6,0.0,0,NaN,NaN,NaN,NaN,NaN
23,23,150.00,0.0,0,-0.3096,0.0,0,34.5435,0.0,0,224.3,0.0,0,NaN,NaN,NaN,NaN,NaN
24,24,175.00,0.0,0,0.1324,0.0,0,34.6217,0.0,0,197.1,0.0,0,NaN,NaN,NaN,NaN,NaN
25,25,200.00,0.0,0,0.3178,0.0,0,34.6535,0.0,0,192.6,0.0,0,NaN,NaN,NaN,NaN,NaN
26,26,225.00,0.0,0,0.3694,0.0,0,34.6697,0.0,0,191.6,0.0,0,NaN,NaN,NaN,NaN,NaN
27,27,250.00,0.0,0,0.4388,0.0,0,34.6751,0.0,0,190.9,0.0,0,NaN,NaN,NaN,NaN,NaN
28,28,275.00,0.0,0,0.4359,0.0,0,34.6754,0.0,0,190.3,0.0,0,NaN,NaN,NaN,NaN,NaN
29,29,300.00,0.0,0,0.4330,0.0,0,34.6777,0.0,0,189.9,0.0,0,NaN,NaN,NaN,NaN,NaN
30,30,325.00,0.0,0,0.4340,0.0,0,34.6794,0.0,0,190.0,0.0,0,NaN,NaN,NaN,NaN,NaN
31,31,350.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
32,32,375.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
33,33,400.00,0.0,0,0.4107,0.0,0,34.6789,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
34,34,425.00,0.0,0,0.4034,0.0,0,34.6788,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
187  83

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,-1.1950,0.0,0,33.9300,0.0,0,365.6,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,-1.2570,0.0,0,33.9462,0.0,0,364.8,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,-1.3320,0.0,0,33.9710,0.0,0,362.4,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,4900.00,0.0,0,-0.4274,0.0,0,34.6400,0.0,0,248.3,0.0,0,NaN,NaN,NaN,NaN,NaN
97,97,5000.00,0.0,0,-0.4202,0.0,0,34.6395,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
98,98,5100.00,0.0,0,-0.4070,0.0,0,34.6392,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
99,99,5200.00,0.0,0,-0.3934,0.0,0,34.6393,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
100,100,5300.00,0.0,0,-0.3855,0.0,0,34.6391,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
299  211

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,22.7469,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,22.7360,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,22.7252,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,80,3300.00,0.0,0,1.5432,0.0,0,34.6792,5.0,0,153.0,0.0,0,NaN,NaN,NaN,NaN,NaN
81,81,3400.00,0.0,0,1.5041,0.0,0,34.6866,5.0,0,155.5,0.0,0,NaN,NaN,NaN,NaN,NaN
82,82,3500.00,0.0,0,1.4780,0.0,0,34.6909,0.0,0,157.7,0.0,0,NaN,NaN,NaN,NaN,NaN
83,83,3600.00,0.0,0,1.4702,0.0,0,34.6926,0.0,0,159.2,0.0,0,NaN,NaN,NaN,NaN,NaN
84,84,3700.00,0.0,0,1.4693,0.0,0,34.6929,0.0,0,160.1,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
411  321

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,22.9777,0.0,0,34.9913,0.0,0,218.9,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,22.9669,0.0,0,34.9952,0.0,0,218.7,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,22.9561,0.0,0,34.9992,0.0,0,218.6,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,82,3500.00,0.0,0,1.4808,0.0,0,34.6922,5.0,0,152.3,0.0,0,NaN,NaN,NaN,NaN,NaN
83,83,3600.00,0.0,0,1.4715,0.0,0,34.6933,0.0,0,152.6,0.0,0,NaN,NaN,NaN,NaN,NaN
84,84,3700.00,0.0,0,1.4702,0.0,0,34.6938,0.0,0,152.8,0.0,0,NaN,NaN,NaN,NaN,NaN
85,85,3800.00,0.0,0,1.4767,0.0,0,34.6938,0.0,0,153.0,0.0,0,NaN,NaN,NaN,NaN,NaN
86,86,3900.00,0.0,0,1.4910,0.0,0,34.6938,0.0,0,153.2,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
523  435

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,23.3679,0.0,0,35.0978,0.0,0,217.7,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,23.3678,0.0,0,35.0978,0.0,0,217.7,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,23.3575,0.0,0,35.0985,0.0,0,217.5,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,23.3471,0.0,0,35.0992,0.0,0,217.2,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,23.3364,0.0,0,35.0999,0.0,0,217.0,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,80,3300.00,0.0,0,1.5165,0.0,0,34.6898,0.0,0,153.4,0.0,0,NaN,NaN,NaN,NaN,NaN
81,81,3400.00,0.0,0,1.5055,0.0,0,34.6907,5.0,0,154.3,0.0,0,NaN,NaN,NaN,NaN,NaN
82,82,3500.00,0.0,0,1.5054,0.0,0,34.6914,0.0,0,154.0,0.0,0,NaN,NaN,NaN,NaN,NaN
83,83,3600.00,0.0,0,1.5075,0.0,0,34.6912,0.0,0,152.9,0.0,0,NaN,NaN,NaN,NaN,NaN
84,84,3700.00,0.0,0,1.5096,0.0,0,34.6914,0.0,0,150.8,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
631  545

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,23.5833,0.0,0,35.1048,0.0,0,217.6,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,23.5300,0.0,0,35.1055,0.0,0,217.8,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,23.4856,0.0,0,35.1062,0.0,0,218.1,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,3100.00,0.0,0,1.5650,0.0,0,34.6867,0.0,0,149.6,0.0,0,NaN,NaN,NaN,NaN,NaN
79,79,3200.00,0.0,0,1.5313,3.0,0,34.6893,3.0,0,152.3,0.0,0,NaN,NaN,NaN,NaN,NaN
80,80,3300.00,0.0,0,1.5252,0.0,0,34.6908,5.0,0,154.1,0.0,0,NaN,NaN,NaN,NaN,NaN
81,81,3400.00,0.0,0,1.5210,0.0,0,34.6907,0.0,0,153.9,0.0,0,NaN,NaN,NaN,NaN,NaN
82,82,3500.00,0.0,0,1.5168,0.0,0,34.6913,0.0,0,154.6,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
703  657

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,Unnamed: 12,Unnamed: 13
1,1,0.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
2,2,5.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
3,3,10.0000,0.0,,-0.7544,0.0,,34.4029,0.0,,NaN,NaN,NaN,NaN
4,4,15.0000,0.0,,-0.7754,0.0,,34.4047,0.0,,NaN,NaN,NaN,NaN
5,5,20.0000,0.0,,-0.7898,0.0,,34.4062,0.0,,NaN,NaN,NaN,NaN
6,6,25.0000,0.0,,-0.7886,0.0,,34.4072,0.0,,NaN,NaN,NaN,NaN
7,7,30.0000,0.0,,-0.7864,0.0,,34.4078,0.0,,NaN,NaN,NaN,NaN
8,8,35.0000,0.0,,-0.7842,0.0,,34.4080,0.0,,NaN,NaN,NaN,NaN
9,9,40.0000,0.0,,-0.7690,0.0,,34.4120,0.0,,NaN,NaN,NaN,NaN
10,10,45.0000,0.0,,-0.7451,0.0,,34.4163,0.0,,NaN,NaN,NaN,NaN
11,11,50.0000,0.0,,-0.7214,0.0,,34.4205,0.0,,NaN,NaN,NaN,NaN
12,12,55.0000,0.0,,-0.7218,0.0,,34.4246,0.0,,NaN,NaN,NaN,NaN
13,13,60.0000,0.0,,-0.7229,0.0,,34.4287,0.0,,NaN,NaN,NaN,NaN
14,14,65.0000,0.0,,-0.7543,0.0,,34.4326,0.0,,NaN,NaN,NaN,NaN
15,15,70.0000,0.0,,-0.7974,0.0,,34.4364,0.0,,NaN,NaN,NaN,NaN
16,16,75.0000,0.0,,-0.8556,0.0,,34.4406,0.0,,NaN,NaN,NaN,NaN
17,17,80.0000,0.0,,-0.9414,0.0,,34.4554,0.0,,NaN,NaN,NaN,NaN
18,18,85.0000,0.0,,-1.0720,0.0,,34.4790,0.0,,NaN,NaN,NaN,NaN
19,19,90.0000,0.0,,-1.2313,0.0,,34.4985,0.0,,NaN,NaN,NaN,NaN
20,20,95.0000,0.0,,-1.3466,0.0,,34.5168,0.0,,NaN,NaN,NaN,NaN
21,21,100.0000,0.0,,-1.4508,0.0,,34.5350,0.0,,NaN,NaN,NaN,NaN
22,22,125.0000,0.0,,-1.7615,0.0,,34.6052,0.0,,NaN,NaN,NaN,NaN
23,23,150.0000,0.0,,-1.8442,0.0,,34.6542,0.0,,NaN,NaN,NaN,NaN
24,24,175.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
25,25,200.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
26,26,225.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
27,27,250.0000,0.0,,-1.9002,0.0,,34.6967,0.0,,NaN,NaN,NaN,NaN
28,28,275.0000,0.0,,-1.9018,0.0,,34.7026,0.0,,NaN,NaN,NaN,NaN
29,29,300.0000,0.0,,-1.9033,0.0,,34.7067,0.0,,NaN,NaN,NaN,NaN
30,30,325.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
31,31,350.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
32,32,375.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
33,33,400.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
34,34,425.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
35,35,450.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
36,36,475.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
37,37,500.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
38,38,550.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
39,39,600.0000,0.0,,-1.8920,0.0,,34.7444,0.0,,NaN,NaN,NaN,NaN
40,40,650.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
41,41,700.0000,0.0,,-1.8893,0.0,,34.7545,0.0,,NaN,NaN,NaN,NaN
42,42,750.0000,0.0,,-1.8870,0.0,,34.7623,0.0,,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'Unnamed: 12', 'Unnamed: 13']
764  726

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,-0.8570,0.0,0,33.9350,0.0,0,363.6,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,-1.1991,0.0,0,33.9951,0.0,0,350.9,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,-1.4760,0.0,0,34.0560,0.0,0,339.2,0.0,0,NaN,NaN,NaN,NaN,NaN
6,6,25.00,0.0,0,-1.6704,0.0,0,34.1180,0.0,0,329.8,0.0,0,NaN,NaN,NaN,NaN,NaN
7,7,30.00,0.0,0,-1.7415,0.0,0,34.1782,0.0,0,323.5,0.0,0,NaN,NaN,NaN,NaN,NaN
8,8,35.00,0.0,0,-1.7199,0.0,0,34.2333,0.0,0,316.6,0.0,0,NaN,NaN,NaN,NaN,NaN
9,9,40.00,0.0,0,-1.7763,0.0,0,34.2844,0.0,0,307.2,0.0,0,NaN,NaN,NaN,NaN,NaN
10,10,45.00,0.0,0,-1.7759,0.0,0,34.2953,0.0,0,296.1,0.0,0,NaN,NaN,NaN,NaN,NaN
11,11,50.00,0.0,0,-1.7750,0.0,0,34.3113,0.0,0,283.6,6.0,0,NaN,NaN,NaN,NaN,NaN
12,12,55.00,0.0,0,-1.7740,0.0,0,34.3266,0.0,0,271.3,6.0,0,NaN,NaN,NaN,NaN,NaN
13,13,60.00,0.0,0,-1.7730,0.0,0,34.3440,0.0,0,258.1,9.0,0,NaN,NaN,NaN,NaN,NaN
14,14,65.00,0.0,0,-1.5017,0.0,0,34.3642,0.0,0,261.8,6.0,0,NaN,NaN,NaN,NaN,NaN
15,15,70.00,0.0,0,-1.2255,0.0,0,34.3864,0.0,0,279.0,0.0,0,NaN,NaN,NaN,NaN,NaN
16,16,75.00,0.0,0,-0.9531,0.0,0,34.4109,0.0,0,302.9,0.0,0,NaN,NaN,NaN,NaN,NaN
17,17,80.00,0.0,0,-0.6870,0.0,0,34.4378,0.0,0,305.7,0.0,0,NaN,NaN,NaN,NaN,NaN
18,18,85.00,0.0,0,-0.4233,0.0,0,34.4676,0.0,0,284.2,0.0,0,NaN,NaN,NaN,NaN,NaN
19,19,90.00,0.0,0,-0.1585,0.0,0,34.5023,0.0,0,251.6,0.0,0,NaN,NaN,NaN,NaN,NaN
20,20,95.00,0.0,0,0.1071,0.0,0,34.5412,0.0,0,231.4,0.0,0,NaN,NaN,NaN,NaN,NaN
21,21,100.00,0.0,0,0.3283,0.0,0,34.5698,0.0,0,215.7,0.0,0,NaN,NaN,NaN,NaN,NaN
22,22,125.00,0.0,0,1.0201,0.0,0,34.6415,0.0,0,194.0,0.0,0,NaN,NaN,NaN,NaN,NaN
23,23,150.00,0.0,0,1.0552,0.0,0,34.6528,0.0,0,192.9,0.0,0,NaN,NaN,NaN,NaN,NaN
24,24,175.00,0.0,0,1.1204,0.0,0,34.6766,0.0,0,192.4,0.0,0,NaN,NaN,NaN,NaN,NaN
25,25,200.00,0.0,0,1.1358,0.0,0,34.6801,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
26,26,225.00,0.0,0,1.1317,0.0,0,34.6849,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
27,27,250.00,0.0,0,1.1293,0.0,0,34.6890,0.0,0,193.3,0.0,0,NaN,NaN,NaN,NaN,NaN
28,28,275.00,0.0,0,1.1063,0.0,0,34.6902,0.0,0,193.9,0.0,0,NaN,NaN,NaN,NaN,NaN
29,29,300.00,0.0,0,1.0876,3.0,0,34.6932,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
30,30,325.00,0.0,0,1.0623,3.0,0,34.6958,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
31,31,350.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
32,32,375.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
33,33,400.00,0.0,0,0.9852,3.0,0,34.6966,0.0,0,197.7,0.0,0,NaN,NaN,NaN,NaN,NaN
34,34,425.00,0.0,0,0.9579,3.0,0,34.6965,0.0,0,198.1,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
865  787

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,-1.3515,0.0,0,33.6300,0.0,0,361.3,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,-1.4177,0.0,0,33.8307,0.0,0,358.0,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,-1.4860,0.0,0,33.9940,0.0,0,353.2,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,2300.00,0.0,0,-0.1344,0.0,0,34.6572,0.0,0,228.5,0.0,0,NaN,NaN,NaN,NaN,NaN
71,71,2400.00,0.0,0,-0.1497,0.0,0,34.6564,0.0,0,229.6,0.0,0,NaN,NaN,NaN,NaN,NaN
72,72,2500.00,0.0,0,-0.1651,0.0,0,34.6557,0.0,0,230.6,0.0,0,NaN,NaN,NaN,NaN,NaN
73,73,2600.00,0.0,0,-0.1814,0.0,0,34.6550,0.0,0,231.6,0.0,0,NaN,NaN,NaN,NaN,NaN
74,74,2700.00,0.0,0,-0.1906,0.0,0,34.6543,0.0,0,232.5,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
958  887

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,-1.4630,0.0,0,33.8970,0.0,0,365.7,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,-1.6464,4.0,0,34.1399,0.0,0,354.1,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,-1.7758,4.0,0,34.3138,0.0,0,344.2,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,63,1800.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
64,64,1850.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
65,65,1900.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
66,66,1950.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
67,67,2000.00,0.0,0,-0.1013,0.0,0,34.6597,0.0,0,224.8,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
1034  987

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.0000,0.0,0,-0.9789,0.0,0,34.3096,0.0,0,346.55,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.0000,0.0,0,-0.9791,0.0,0,34.3096,0.0,0,346.61,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.0000,0.0,0,-0.9800,0.0,0,34.3096,0.0,0,346.88,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.0000,0.0,0,-0.9809,0.0,0,34.3096,0.0,0,346.72,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.0000,0.0,0,-0.9819,0.0,0,34.3096,0.0,0,346.79,0.0,0,NaN,NaN,NaN,NaN,NaN
6,6,25.0000,0.0,0,-0.9828,0.0,0,34.3096,0.0,0,346.87,0.0,0,NaN,NaN,NaN,NaN,NaN
7,7,30.0000,0.0,0,-0.9800,0.0,0,34.3096,0.0,0,346.94,0.0,0,NaN,NaN,NaN,NaN,NaN
8,8,35.0000,0.0,0,-0.9826,0.0,0,34.3096,0.0,0,347.01,0.0,0,NaN,NaN,NaN,NaN,NaN
9,9,40.0000,0.0,0,-0.9859,0.0,0,34.3096,0.0,0,347.07,0.0,0,NaN,NaN,NaN,NaN,NaN
10,10,45.0000,0.0,0,-0.9889,0.0,0,34.3100,0.0,0,346.96,0.0,0,NaN,NaN,NaN,NaN,NaN
11,11,50.0000,0.0,0,-0.9917,0.0,0,34.3103,0.0,0,346.89,0.0,0,NaN,NaN,NaN,NaN,NaN
12,12,55.0000,0.0,0,-0.9940,0.0,0,34.3105,0.0,0,346.48,0.0,0,NaN,NaN,NaN,NaN,NaN
13,13,60.0000,0.0,0,-1.0070,0.0,0,34.3124,0.0,0,345.81,0.0,0,NaN,NaN,NaN,NaN,NaN
14,14,65.0000,0.0,0,-1.0446,0.0,0,34.3209,0.0,0,343.98,0.0,0,NaN,NaN,NaN,NaN,NaN
15,15,70.0000,0.0,0,-1.0921,0.0,0,34.3318,0.0,0,341.38,0.0,0,NaN,NaN,NaN,NaN,NaN
16,16,75.0000,0.0,0,-1.1550,0.0,0,34.3463,0.0,0,338.18,0.0,0,NaN,NaN,NaN,NaN,NaN
17,17,80.0000,0.0,0,-1.2320,0.0,0,34.3643,0.0,0,334.95,0.0,0,NaN,NaN,NaN,NaN,NaN
18,18,85.0000,0.0,0,-1.3141,0.0,0,34.3839,0.0,0,332.04,0.0,0,NaN,NaN,NaN,NaN,NaN
19,19,90.0000,0.0,0,-1.3900,0.0,0,34.4022,0.0,0,329.45,0.0,0,NaN,NaN,NaN,NaN,NaN
20,20,95.0000,0.0,0,-1.4533,0.0,0,34.4173,0.0,0,327.16,0.0,0,NaN,NaN,NaN,NaN,NaN
21,21,100.0000,0.0,0,-1.5042,0.0,0,34.4293,0.0,0,324.95,0.0,0,NaN,NaN,NaN,NaN,NaN
22,22,125.0000,0.0,0,-1.6237,0.0,0,34.4537,0.0,0,315.66,0.0,0,NaN,NaN,NaN,NaN,NaN
23,23,150.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
24,24,175.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
25,25,200.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
26,26,225.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
27,27,250.0000,0.0,0,-1.8308,0.0,0,34.4780,0.0,0,311.17,0.0,0,NaN,NaN,NaN,NaN,NaN
28,28,275.0000,0.0,0,-1.8510,0.0,0,34.4843,0.0,0,310.87,0.0,0,NaN,NaN,NaN,NaN,NaN
29,29,300.0000,0.0,0,-1.8642,0.0,0,34.4914,0.0,0,310.55,0.0,0,NaN,NaN,NaN,NaN,NaN
30,30,325.0000,0.0,0,-1.8706,0.0,0,34.4992,0.0,0,310.24,0.0,0,NaN,NaN,NaN,NaN,NaN
31,31,350.0000,0.0,0,-1.8780,0.0,0,34.5077,0.0,0,309.95,0.0,0,NaN,NaN,NaN,NaN,NaN
32,32,375.0000,0.0,0,-1.8843,0.0,0,34.5169,0.0,0,309.66,0.0,0,NaN,NaN,NaN,NaN,NaN
33,33,400.0000,0.0,0,-1.8838,0.0,0,34.5269,0.0,0,309.36,0.0,0,NaN,NaN,NaN,NaN,NaN
34,34,425.0000,0.0,0,-1.8869,0.0,0,34.5375,0.0,0,309.06,0.0,0,NaN,NaN,NaN,NaN,NaN
35,35,450.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
36,36,475.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
37,37,500.0000,0.0,0,-1.8978,0.0,0,34.5743,0.0,0,309.28,0.0,0,NaN,NaN,NaN,NaN,NaN
38,38,550.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
39,39,600.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
40,40,650.0000,0.0,0,-1.9049,0.0,0,34.6495,0.0,0,310.71,0.0,0,NaN,NaN,NaN,NaN,NaN
41,41,700.0000,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
42,42,750.0000,0.0,0,-1.8947,0.0,0,34.6798,0.0,0,311.80,0.0,0,NaN,NaN,NaN,NaN,NaN
43,43,800.0000,0.0,0,-1.8944,0.0,0,34.6934,0.0,0,312.90,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
1085  1058

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,20.6390,0.0,0,34.4200,0.0,0,216.5,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,20.5890,0.0,0,34.4665,0.0,0,216.8,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,20.3900,0.0,0,34.5510,0.0,0,217.3,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,20.0343,0.0,0,34.5460,0.0,0,217.0,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,19.5332,0.0,0,34.5410,0.0,0,217.1,0.0,0,NaN,NaN,NaN,NaN,NaN
6,6,25.00,0.0,0,19.1680,0.0,0,34.5360,0.0,0,216.4,0.0,0,NaN,NaN,NaN,NaN,NaN
7,7,30.00,0.0,0,18.8986,0.0,0,34.5964,0.0,0,214.3,0.0,0,NaN,NaN,NaN,NaN,NaN
8,8,35.00,0.0,0,18.6786,0.0,0,34.6725,0.0,0,212.1,0.0,0,NaN,NaN,NaN,NaN,NaN
9,9,40.00,0.0,0,18.5672,0.0,0,34.7346,0.0,0,209.9,0.0,0,NaN,NaN,NaN,NaN,NaN
10,10,45.00,0.0,0,18.4567,0.0,0,34.7954,0.0,0,207.6,0.0,0,NaN,NaN,NaN,NaN,NaN
11,11,50.00,0.0,0,18.3379,0.0,0,34.8508,0.0,0,205.4,0.0,0,NaN,NaN,NaN,NaN,NaN
12,12,55.00,0.0,0,18.2437,0.0,0,34.9046,0.0,0,203.1,0.0,0,NaN,NaN,NaN,NaN,NaN
13,13,60.00,0.0,0,18.1983,0.0,0,34.9596,0.0,0,200.9,0.0,0,NaN,NaN,NaN,NaN,NaN
14,14,65.00,0.0,0,18.1485,0.0,0,35.0166,0.0,0,198.7,0.0,0,NaN,NaN,NaN,NaN,NaN
15,15,70.00,0.0,0,18.0604,0.0,0,35.0203,0.0,0,196.5,0.0,0,NaN,NaN,NaN,NaN,NaN
16,16,75.00,0.0,0,17.9465,2.0,0,35.0348,2.0,0,193.9,0.0,0,NaN,NaN,NaN,NaN,NaN
17,17,80.00,0.0,0,17.7892,2.0,0,34.9539,2.0,0,191.0,0.0,0,NaN,NaN,NaN,NaN,NaN
18,18,85.00,0.0,0,17.6432,2.0,0,34.8147,2.0,0,187.7,0.0,0,NaN,NaN,NaN,NaN,NaN
19,19,90.00,0.0,0,17.4961,2.0,0,34.6995,2.0,0,183.9,0.0,0,NaN,NaN,NaN,NaN,NaN
20,20,95.00,0.0,0,17.3516,0.0,0,34.6320,0.0,0,180.6,0.0,0,NaN,NaN,NaN,NaN,NaN
21,21,100.00,0.0,0,17.2111,0.0,0,34.5980,0.0,0,178.0,0.0,0,NaN,NaN,NaN,NaN,NaN
22,22,125.00,0.0,0,16.5490,0.0,0,34.5980,0.0,0,169.8,0.0,0,NaN,NaN,NaN,NaN,NaN
23,23,150.00,0.0,0,16.0534,0.0,0,34.6036,0.0,0,166.9,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
1159  1111

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,Unnamed: 12,Unnamed: 13
1,1,0.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
2,2,5.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
3,3,10.0000,0.0,,-1.2840,0.0,,34.0976,0.0,,NaN,NaN,NaN,NaN
4,4,15.0000,0.0,,-1.2378,0.0,,34.0992,0.0,,NaN,NaN,NaN,NaN
5,5,20.0000,0.0,,-1.1924,0.0,,34.1327,0.0,,NaN,NaN,NaN,NaN
6,6,25.0000,0.0,,-1.1485,0.0,,34.2056,0.0,,NaN,NaN,NaN,NaN
7,7,30.0000,0.0,,-1.1042,0.0,,34.3374,0.0,,NaN,NaN,NaN,NaN
8,8,35.0000,0.0,,-1.0674,0.0,,34.4303,0.0,,NaN,NaN,NaN,NaN
9,9,40.0000,0.0,,-1.0674,0.0,,34.4340,0.0,,NaN,NaN,NaN,NaN
10,10,45.0000,0.0,,-1.0674,0.0,,34.4352,0.0,,NaN,NaN,NaN,NaN
11,11,50.0000,0.0,,-1.0674,0.0,,34.4379,0.0,,NaN,NaN,NaN,NaN
12,12,55.0000,0.0,,-1.1441,0.0,,34.4424,0.0,,NaN,NaN,NaN,NaN
13,13,60.0000,0.0,,-1.2840,0.0,,34.4488,0.0,,NaN,NaN,NaN,NaN
14,14,65.0000,0.0,,-1.4303,0.0,,34.4553,0.0,,NaN,NaN,NaN,NaN
15,15,70.0000,0.0,,-1.5347,0.0,,34.4617,0.0,,NaN,NaN,NaN,NaN
16,16,75.0000,0.0,,-1.6124,0.0,,34.4678,0.0,,NaN,NaN,NaN,NaN
17,17,80.0000,0.0,,-1.6753,0.0,,34.4745,0.0,,NaN,NaN,NaN,NaN
18,18,85.0000,0.0,,-1.7303,0.0,,34.4811,0.0,,NaN,NaN,NaN,NaN
19,19,90.0000,0.0,,-1.7518,0.0,,34.4878,0.0,,NaN,NaN,NaN,NaN
20,20,95.0000,0.0,,-1.7695,0.0,,34.4946,0.0,,NaN,NaN,NaN,NaN
21,21,100.0000,0.0,,-1.7895,0.0,,34.5016,0.0,,NaN,NaN,NaN,NaN
22,22,125.0000,0.0,,-1.8507,0.0,,34.5395,0.0,,NaN,NaN,NaN,NaN
23,23,150.0000,0.0,,-1.8708,0.0,,34.5806,0.0,,NaN,NaN,NaN,NaN
24,24,175.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
25,25,200.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
26,26,225.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
27,27,250.0000,0.0,,-1.9009,0.0,,34.6870,0.0,,NaN,NaN,NaN,NaN
28,28,275.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
29,29,300.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
30,30,325.0000,0.0,,-1.8927,0.0,,34.7258,0.0,,NaN,NaN,NaN,NaN
31,31,350.0000,0.0,,-1.8980,0.0,,34.7153,0.0,,NaN,NaN,NaN,NaN
32,32,375.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
33,33,400.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
34,34,425.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
35,35,450.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
36,36,475.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
37,37,500.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
38,38,550.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
39,39,600.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
40,40,650.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
41,41,700.0000,0.0,,-1.8867,0.0,,34.7499,0.0,,NaN,NaN,NaN,NaN
42,42,750.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
43,43,800.0000,0.0,,-1.8849,0.0,,34.7561,0.0,,NaN,NaN,NaN,NaN
44,44,850.0000,0.0,,-1.8838,0.0,,34.7601,0.0,,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'Unnamed: 12', 'Unnamed: 13']
1269  1183

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,23.3212,0.0,0,35.0072,0.0,0,223.2,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,23.3214,0.0,0,35.0072,0.0,0,223.0,4.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,23.3216,0.0,0,35.0075,0.0,0,219.4,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,23.3204,0.0,0,35.0090,0.0,0,218.0,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,23.3165,0.0,0,35.0125,0.0,0,218.0,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,3100.00,0.0,0,1.5527,0.0,0,34.6878,0.0,0,150.6,0.0,0,NaN,NaN,NaN,NaN,NaN
79,79,3200.00,0.0,0,1.5530,0.0,0,34.6883,0.0,0,151.2,0.0,0,NaN,NaN,NaN,NaN,NaN
80,80,3300.00,0.0,0,1.5540,0.0,0,34.6888,0.0,0,151.8,0.0,0,NaN,NaN,NaN,NaN,NaN
81,81,3400.00,0.0,0,1.5568,0.0,0,34.6894,0.0,0,152.3,0.0,0,NaN,NaN,NaN,NaN,NaN
82,82,3500.00,0.0,0,1.5609,0.0,0,34.6900,0.0,0,152.9,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
1292  1287

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.,0.0,,3.,0.0,,6.,9.0,,---*---,0.0,,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
1339  1316

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,19.3970,0.0,0,34.5080,0.0,0,214.5,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,19.3864,0.0,0,34.6687,0.0,0,214.3,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,19.3753,0.0,0,34.8558,0.0,0,214.1,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,19.3798,0.0,0,34.8647,0.0,0,214.2,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,19.3853,2.0,0,34.8629,2.0,0,214.3,0.0,0,NaN,NaN,NaN,NaN,NaN
6,6,25.00,0.0,0,19.3910,2.0,0,34.8210,2.0,0,214.4,0.0,0,NaN,NaN,NaN,NaN,NaN
7,7,30.00,0.0,0,19.3946,2.0,0,34.7792,2.0,0,214.4,0.0,0,NaN,NaN,NaN,NaN,NaN
8,8,35.00,0.0,0,19.3925,2.0,0,34.7296,2.0,0,214.3,0.0,0,NaN,NaN,NaN,NaN,NaN
9,9,40.00,0.0,0,19.3933,2.0,0,34.6633,2.0,0,214.3,0.0,0,NaN,NaN,NaN,NaN,NaN
10,10,45.00,0.0,0,19.3941,2.0,0,34.5777,2.0,0,214.2,0.0,0,NaN,NaN,NaN,NaN,NaN
11,11,50.00,0.0,0,19.3948,2.0,0,34.5213,2.0,0,214.3,0.0,0,NaN,NaN,NaN,NaN,NaN
12,12,55.00,0.0,0,19.3842,0.0,0,34.5175,0.0,0,214.0,0.0,0,NaN,NaN,NaN,NaN,NaN
13,13,60.00,0.0,0,19.3736,0.0,0,34.5336,0.0,0,213.8,0.0,0,NaN,NaN,NaN,NaN,NaN
14,14,65.00,0.0,0,19.3384,0.0,0,34.5737,0.0,0,213.6,0.0,0,NaN,NaN,NaN,NaN,NaN
15,15,70.00,0.0,0,19.2931,0.0,0,34.6120,0.0,0,213.3,0.0,0,NaN,NaN,NaN,NaN,NaN
16,16,75.00,0.0,0,19.2320,0.0,0,34.6494,0.0,0,211.0,0.0,0,NaN,NaN,NaN,NaN,NaN
17,17,80.00,0.0,0,19.1522,0.0,0,34.6907,0.0,0,207.9,0.0,0,NaN,NaN,NaN,NaN,NaN
18,18,85.00,0.0,0,19.0566,0.0,0,34.7367,0.0,0,203.9,0.0,0,NaN,NaN,NaN,NaN,NaN
19,19,90.00,0.0,0,18.9453,0.0,0,34.7875,0.0,0,199.1,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']
1404  1365

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,Unnamed: 12,Unnamed: 13
1,1,0.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
2,2,5.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
3,3,10.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
4,4,15.0000,0.0,,-1.0982,0.0,,34.3458,0.0,,NaN,NaN,NaN,NaN
5,5,20.0000,0.0,,-1.0969,0.0,,34.3528,0.0,,NaN,NaN,NaN,NaN
6,6,25.0000,0.0,,-1.0953,0.0,,34.3539,0.0,,NaN,NaN,NaN,NaN
7,7,30.0000,0.0,,-1.0935,0.0,,34.3546,0.0,,NaN,NaN,NaN,NaN
8,8,35.0000,0.0,,-1.0921,0.0,,34.3554,0.0,,NaN,NaN,NaN,NaN
9,9,40.0000,0.0,,-1.0922,0.0,,34.3560,0.0,,NaN,NaN,NaN,NaN
10,10,45.0000,0.0,,-1.0941,0.0,,34.3565,0.0,,NaN,NaN,NaN,NaN
11,11,50.0000,0.0,,-1.0955,0.0,,34.3572,0.0,,NaN,NaN,NaN,NaN
12,12,55.0000,0.0,,-1.0914,0.0,,34.3619,0.0,,NaN,NaN,NaN,NaN
13,13,60.0000,0.0,,-1.0834,0.0,,34.3694,0.0,,NaN,NaN,NaN,NaN
14,14,65.0000,0.0,,-1.0735,0.0,,34.3789,0.0,,NaN,NaN,NaN,NaN
15,15,70.0000,0.0,,-1.0662,0.0,,34.3866,0.0,,NaN,NaN,NaN,NaN
16,16,75.0000,0.0,,-1.0618,0.0,,34.3915,0.0,,NaN,NaN,NaN,NaN
17,17,80.0000,0.0,,-1.0612,0.0,,34.3942,0.0,,NaN,NaN,NaN,NaN
18,18,85.0000,0.0,,-1.0612,0.0,,34.3935,0.0,,NaN,NaN,NaN,NaN
19,19,90.0000,0.0,,-1.0611,0.0,,34.3934,0.0,,NaN,NaN,NaN,NaN
20,20,95.0000,0.0,,-1.0610,0.0,,34.3948,0.0,,NaN,NaN,NaN,NaN
21,21,100.0000,0.0,,-1.0609,0.0,,34.3961,0.0,,NaN,NaN,NaN,NaN
22,22,125.0000,0.0,,-1.1244,0.0,,34.4121,0.0,,NaN,NaN,NaN,NaN
23,23,150.0000,0.0,,-1.2410,0.0,,34.4376,0.0,,NaN,NaN,NaN,NaN
24,24,175.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
25,25,200.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
26,26,225.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
27,27,250.0000,0.0,,-1.8947,0.0,,34.5910,0.0,,NaN,NaN,NaN,NaN
28,28,275.0000,0.0,,-1.8990,0.0,,34.6180,0.0,,NaN,NaN,NaN,NaN
29,29,300.0000,0.0,,-1.9008,0.0,,34.6404,0.0,,NaN,NaN,NaN,NaN
30,30,325.0000,0.0,,-1.9042,0.0,,34.6581,0.0,,NaN,NaN,NaN,NaN
31,31,350.0000,0.0,,-1.9045,0.0,,34.6713,0.0,,NaN,NaN,NaN,NaN
32,32,375.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
33,33,400.0000,0.0,,---*---,0.0,,---*---,0.0,,NaN,NaN,NaN,NaN
34,34,425.0000,0.0,,-1.9035,0.0,,34.7069,0.0,,NaN,NaN,NaN,NaN
35,35,450.0000,0.0,,-1.9019,0.0,,34.7141,0.0,,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'Unnamed: 12', 'Unnamed: 13']
1511  1426

,UNITS,m,,.1,degrees C,Unnamed: 5,.2,.3,PSS,Unnamed: 9,.4,.5,umol/kg,Unnamed: 13,.6,.7,Unnamed: 16,Unnamed: 17
1,1,0.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2,5.00,0.0,0,---*---,0.0,0,---*---,0.0,0,---*---,0.0,0,NaN,NaN,NaN,NaN,NaN
3,3,10.00,0.0,0,23.2878,0.0,0,35.0083,0.0,0,218.3,0.0,0,NaN,NaN,NaN,NaN,NaN
4,4,15.00,0.0,0,23.2277,0.0,0,35.0068,0.0,0,218.3,0.0,0,NaN,NaN,NaN,NaN,NaN
5,5,20.00,0.0,0,23.1952,0.0,0,35.0054,0.0,0,218.3,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,3000.00,0.0,0,1.6856,0.0,0,34.6838,0.0,0,142.5,0.0,0,NaN,NaN,NaN,NaN,NaN
78,78,3100.00,0.0,0,1.6180,0.0,0,34.6858,0.0,0,146.9,0.0,0,NaN,NaN,NaN,NaN,NaN
79,79,3200.00,0.0,0,1.5845,0.0,0,34.6872,0.0,0,149.3,0.0,0,NaN,NaN,NaN,NaN,NaN
80,80,3300.00,0.0,0,1.5953,0.0,0,34.6880,0.0,0,150.8,0.0,0,NaN,NaN,NaN,NaN,NaN
81,81,3400.00,0.0,0,1.5884,0.0,0,34.6877,0.0,0,150.4,0.0,0,NaN,NaN,NaN,NaN,NaN

['UNITS     ', 'm         ', ' ', ' .1', 'degrees C ', 'Unnamed: 5', ' .2', ' .3', 'PSS       ', 'Unnamed: 9', ' .4', ' .5', 'umol/kg   ', 'Unnamed: 13', ' .6', ' .7', 'Unnamed: 16', 'Unnamed: 17']

ValueError: 'nrows' must be an integer >=0